a[data-ux-external]/*:not([href^="mailto:"])*/+a[data-ux-external-impl] {
    display: none;
    position: absolute;
    font-size: .75em;
    margin-left: -.5em;
}

a[data-ux-external]/*:not([href^="mailto:"])*/:hover+a[data-ux-external-impl] {
    display: inline-block;
}

a[data-ux-external]/*:not([href^="mailto:"])*/+a[data-ux-external-impl]:hover {
    display: inline-block;
}